.tableSearchForm-crtls {
    display: flex;
    justify-content: flex-end;

    .visible-switch-btn {
        padding: 0;
    }

    .ant-btn+.ant-btn {
        margin-left: 10px;
    }
}

.ant-card-body {
    padding: 0 24px;
}